a.out
*.exe
*.o
*.obj
a.out.dSYM

assignment1/assignment1/assignment1/Debug/assignment1.tlog/unsuccessfulbuild
assignment1/assignment1/assignment1/Debug/assignment1.tlog/assignment1.lastbuildstate
assignment1/assignment1/.vs/assignment1/v16/ipch/AutoPCH/8e748f03bf275eeb/A1Q1TESTER.ipch
assignment1/assignment1/.vs/assignment1/v16/ipch/AutoPCH/5ea02bcef5242ba5/TIMER.ipch
assignment1/assignment1/.vs/assignment1/v16/Browse.VC.opendb
assignment1/assignment1/.vs/assignment1/v16/Browse.VC.db
assignment1/assignment1/.vs/assignment1/v16/.suo
assignment1/assignment1/assignment1/Debug/vc142.pdb
assignment1/assignment1/assignment1/Debug/vc142.idb
assignment1/assignment1/assignment1/Debug/assignment1.tlog/CL.write.1.tlog
assignment1/assignment1/assignment1/Debug/assignment1.tlog/CL.read.1.tlog
assignment1/assignment1/assignment1/Debug/assignment1.tlog/CL.command.1.tlog
assignment1/assignment1/assignment1/Debug/assignment1.log
assignment1/assignment1/assignment1/Debug/assignment1.Build.CppClean.log
assignment1/assignment1/.vs/assignment1/v16/ipch/AutoPCH/30e5de67b37b7360/ASSIGNMENT1.ipch
assignment1/assignment1/.vs/assignment1/v16/ipch/AutoPCH/1870ad70c55f782a/A1Q2MAIN.ipch
*.tlog
*.ilk
*.pdb
